.btn{
    margin:0px 10px 0px 10px;
    
}
.maintext{
    color: white; 
    font-weight :bold;
    font-family: cursive;
    font-size:1.8vw;
   
}
#mainheading{
    color:white;
    font-family:cursive;
    
}

.homwpageheading{
    color: white;
    font-family: cursive; 
    font-size: 80px;
}

/*main{
    /*background-image: url('/img/crowd-1584115__340.jpg');*/
    
   /* min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
   
}*/
.bg { 
 
  background-image: url('/images/background-crowd.png');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#navigate{
    visibility: hidden;
}

body, html {
  height: 100%;
  
}



#sportstext{
    background-color: white;
   
}
