.btn{
    margin:0px 10px 0px 10px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

main{
    background-image: url('/img/crowd-1584115__340.jpg');
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}