
.btn{
    margin:0px 10px 0px 10px;
    
}
.maintext{
    color: white; 
    font-weight :bold;
    font-family: cursive;
    font-size:1.8vw;
   
}
#mainheading{
    color:black;
    font-family:cursive;
    
}

#mainheading2{
    color:white;
    font-family:cursive;
}
.homwpageheading{
    color: white;
    font-family: cursive; 
    font-size: 80px;
}

.bg { 
 
  background-image: url('/images/Site/background-crowd.png');
  /* Full height*/
  height: 100%; 

  /* Center and scale the image nicely*/ 
  background-position: center;
  background-size: cover;
 
}

.bg2 { 
 /*repeats the background on longer pages */
  background-image: url('/images/Site/background-crowd.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
 
}

#sportcarousel{
    margin-top: -10px;
    border-color:black;
    border-radius:5px;
}

#navigate{
    visibility: hidden;
}

body, html {
  height: 100%;
  
}

#whitebackground{
    background-color: rgba(256,256,256,0.85);
    border-color:black;
    border-radius:20px;
}
    
#whitebackgroundsport{
    background-color: rgba(256,256,256,0.85);
    border-color:black;
    border-radius:5px;
    margin-right:12px;
    margin-left:12px;
  
    
   
}

.tip{
    font-size:20px;
}

#whitebackground-login{
   
    background-color: rgba(256,256,256,0.85);
    border-color:black;
    border-radius:20px;
   padding:30px;
   
}
