.btn{
    margin:0px 10px 0px 10px;
    
}
.maintext{
    color: white; 
    font-weight :bold;
    font-family: cursive;
    font-size:1.8vw;
   
}
#mainheading{
    color:white;
    font-family:cursive;
    
}

.homwpageheading{
    color: white;
    font-family: cursive; 
    font-size: 80px;
}

.bg { 
 
  background-image: url('/images/Site/background-crowd.png');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#navigate{
    visibility: hidden;
}

body, html {
  height: 100%;
  
}

#whitebackground{
    background-color: white;
    border-color:black;
    border-radius:5px;
   
}

.tip{
    font-size:20px;
}

